<launch>  
  <node name="ai_service" pkg="imagineer" type="main.py" output="screen" args="/home/marta/catkin_ws/src/imagineer/my_trained_mnist_model.pt"/> 
  
  <node name="processor" pkg="imagineer" type="processor" />
  <node name="camera" pkg="imagineer" type="camera" args="/home/marta/catkin_ws/src/imagineer/my_images"/>
  <node name="controller" pkg="imagineer" type="controller" output="screen"/>
</launch>

