<launch> 
  <node name="ai_service" pkg="imagineer" type="ai_service.py" output="screen" args="call --wait /ImageAck true"/> 

</launch>
<!--
 <node name="camera" pkg="imagineer" type="camera" args="/home/marta/catkin_ws/src/imagineer/my_images"/>
  <node name="processor" pkg="imagineer" type="processor" />
  <node name="ai_service" pkg="imagineer" type="ai_service.py" output="screen" args="call --wait /ImageAck true"/> 
  <node name="controller" pkg="imagineer" type="controller" /> -->